.msg_page {
    width: 550px;
    height: 100%;
}

.msg_dialogs {
    width: 100%;
    min-height: 100%;
    position: static;
    padding: 48px 0 0px;
}

.msg_search {
    position: fixed;
    top: 60px;
    width: 550px;
    display: grid;
    grid-template-columns: 1fr 10%;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 0 1px #e3e4e8;
}
.search_input {
    background-image: url(https://vk.com/images/search_icon.png);
    background-repeat: no-repeat;
    width: 100%;
    padding: 15px 10px 15px 26px;
    border: none;
    background-position: 0;
    color: #000;
    box-sizing: border-box;
    margin-left: 15px;
}
.add_dialog {
    background-color: #fff;
}
.add_dialog i {
    font-size: 21px;
    color: #91a8c4;
    opacity: 0.7;
    cursor: pointer;
    background-color: #fff;
}
.msg_search i:hover {
    opacity: 1;
}

/****************Messages**********************/
.message_list {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 64px;
    align-items: center;
    min-height: 100%;
    overflow: visible;
}
.message_item {
    display: grid;
    grid-template-columns: 10% 1fr;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
}
.message_item:hover {
    background-color: #f0f2f5;
}
.message_item > a {
    padding: 9px 7px 8px 0;
}
.message_item a > img {
    border-radius: 50%;
}
.message_info {
    display: grid;
    grid-template-columns: 1fr 10%;
    padding-right: 15px;
}
.message_content {
    border-top: 1px solid #e3e4e8;
    display: grid;
    grid-template-rows: 25px 25px;
    padding: 10px 0;
    margin-left: 5px;
}
.message_content .who_messaged {
    font-weight: 500;
    font-size: 13.5px;
}
.message_content > .text_message {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
}
.message_time {
    justify-self: center;
    align-self: start;
    margin-top: 12px;
    font-size: 13px;
    color: #a1a6af;
}

/********************* Message Dialog Footer *********************/
.msg_dialogs_footer {
    position: fixed;
    bottom: 0;
    width: 550px;
    font-size: 12.5px;
    padding: 16px 20px;
    box-sizing: border-box;
}
.msg_settings_menu {
    display: grid;
    grid-template-columns: 1fr 10% 10%;
    align-items: center;
}