/*********** Styles for navbar music ********************/

.nav-music-wrap {
  width: 660px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #c5d0db;
  border-radius: 0 0 4px 4px;
  margin-left: -307px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 57px 1fr;
}


/*********** Styles for navbar music content ********************/

.nav-music-content-block {
  width: 660px;
  height: 361px;
}
.nav-music-content-block_grid {
  display: grid;
  grid-template-rows: 66px 45px auto;
}

