/*********** Styles for navbar music ********************/

.nav-music-wrap {
  width: 660px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #c5d0db;
  border-radius: 0 0 4px 4px;
  margin-left: -307px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 57px 1fr;
}
.nav-music-current-player {
  display: grid;
  grid-template-columns: 54px 19px 19px 40px 328px 199px;
  align-items: center;
  z-index: 2;
  background-color: #fafbfc;
  border-bottom: 1px solid #e7e8ec !important;
}
.nav-music-current-player button {
  background: none;
  border: none;
  font-size: 20px;
  outline: none;
}
.nav-music-current-player button i {
  color: #a0a9bb;
  margin-right: 2px;
}
.nav-music-current-player button i:hover {
  cursor: pointer;
  color: #767d8a;
}
.nav-music-current-player button > .fa-play {
  width: 28px;
  height: 28px;
  background-color: #5181b8;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
}
.nav-music-current-player button > .fa-play:hover{
  color: #fff;
}
.nav-music-current-player button > .fa-play:before {
  position: relative;
  top: 7px;
  left: 1px;
}
.nav-music-current-player button > .fa-fast-backward,
.nav-music-current-player button > .fa-fast-forward {
  width: 9px;
  height: 10px;
  color: #7e9ec1;
  font-size: 13px;
}
.nav-music-current-player button > .fa-fast-backward:hover,
.nav-music-current-player button > .fa-fast-forward:hover {
  color: #5181b8;
}

.nav-music-current-player_music_cover,
.audio_list_music_cover {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.nav-music-current-player_track {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav-music-current-player_track_wrap {
  margin-left: 30px;
}
.nav-music-current-player_track_info,
.audio_list__performer_title {
  text-align: left;
  font-size: 13px;
  line-height: 17px;
}
.nav-music-current-player_track_song_title > span,
.audio_list_title > span {
  font-weight: 500;
}
.audio_list_title > a {
  color: #2a5885;
  text-decoration: none;
}
.nav-music-current-player_track_song_performer > a,
.audio_list_performer > a {
  text-decoration: none;
  color: #939393;
  font-size: 12.5px;
}
.nav-music-current-player_track_song_performer > a:hover,
.audio_list_performer > a:hover {
  text-decoration: underline;
}
.nav-music-current-player_track_duration {
  font-size: 13px;
  color: #939393;
  margin-top: 11px;
  margin-left: -30px;
}
/*Music Volume*/
.nav-music-current-player_track_volume {
  width: 50px;
  float: right;
  margin-top: -10px;
  margin-right: 7px;
}
.volume_slider-slide {
  height: 2px;
  background-color: #e7e8ec;
}
.volume_slider-slide_amount,
.track_slider-slide_amount {
  height: 2px;
  top: auto;
  bottom: 0;
}
.volume_slider-slide_handler,
.track_slider-slide_handler {
  height: 6px;
  width: 6px;
  background-color: #5181b8;
  margin-top: -4px;
  border-radius: 50%;
}
/* Music slider */
.nav-music-current-player_track_slider {
  padding: 0 76px 0 10px;
  margin-top: 7px;
  margin-left: -10px;
}
.track_slider-slide {
  width: 100%;
  height: 2px;
  background-color: #e7e8ec;
}

/*********** Styles for navbar music content ********************/

.nav-music-content-block {
  width: 660px;
  height: 361px;
}
.nav-music-content-block_grid {
  display: grid;
  grid-template-rows: 66px 45px auto;
}
.grid-item_ui_search {
  margin: 20px 20px 10px;
}
.ui_search_input_block {
  display: grid;
  grid-template-columns: 90% 10%;
}
.ui_search_input_inner {
  border: 1px solid #d3d9de;
  border-right: none;
  border-radius: 2px 0 0 2px;
  overflow: hidden;
  position: relative;
}
.ui_search_field {
  background: none;
  padding: 8px 12px 8px 12px;
  width: 100%;
  height: 18px;
  border: 0;
}
.ui_search_field:focus > .ui_search_field::placeholder {
  color: #a8a8a8;
}
.ui_search_field::placeholder {
  color: #939393;
}
.ui_search_button {
  border: 1px solid #d3d9de;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  background-color: #f0f2f5;
}
.ui_search_button i {
  color: #a0a9bb;
}
/* Styles for music tabs */
.grid-item_ui_tabs {
  align-self: center;
  justify-self: center;
  margin-top: 10px;
}
.ui_tabs_block {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  border-bottom: 1px solid #e7e8ec;
}
.ui_tab {
  color: #656565;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 12.5px;
  padding-top: 5px;
  padding-bottom: 13px;
  outline: none;
}
.ui_tab:hover {
  border-bottom: 2px solid #cad2db;
}
.ui_tab_active {
  border-bottom: 2px solid #5181b8;
  padding-bottom: 13px;
}

/* Styles for audio section */
.audio_section {
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 5px;
}
.audio_page_shuffle_all {
  text-align: left;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr;
}
.audio_page_shuffle_all:hover {
  background-color: #e9edf1;
  cursor: pointer;
}
.audio_page_shuffle_all i {
  font-size: 22px;
  justify-self: center;
}
.shuffle_all_button {
  border: none;
  background: transparent;
  outline: none;
  position: relative;
  width: 100%;
  padding: 4px;
  cursor: pointer;
  text-align: left;
  color: #000;    
  font-size: 13px;
  line-height: 40px;
  font-weight: 500;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.audio_page-audio_lists {
  display: grid;
  grid-auto-rows: 48px;
  grid-row-gap: 5px;
  align-items: center;
  margin: 2px;
}
.audio_list_content {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  padding: 5px;
}
.audio_list_content:hover {
  cursor: pointer;
  background-color: #e9edf1;
}
.audio_list_content:hover .audio_list_duration {
  visibility: hidden;
}
.audio_list_content:hover .audio_list_actions {
  visibility: visible;
}
.audio_list_music_cover {
  margin-left: 0;
}
.audio_list_inner {
  margin-left: 10px;
}
.audio_list_info {
  font-size: 13px;
  color: #939393;
  margin-top: 11px;
  margin-left: -30px;
}
.audio_list_duration {
  visibility: visible;
}
.audio_list_actions {
  position: absolute;
  margin-top: -17px;
  margin-left: -5px;
  visibility: hidden;
}
.audio_action {
  background: none;
  border: none;
}
.audio_action i {
  font-size: 22px;
  color: #a3a9b5;
}
.audio_action i:hover {
  color: #828a99;
  cursor: pointer;
}

/* Audio page right side. Friend Side. */
.audio_friends_right_lists {
  display: grid;
  grid-auto-rows: 45px;
  grid-row-gap: 5px;
  align-items: center;
  border-left: 1px solid #e7e8ec;
}
.audio_friend {
  display: grid;
  grid-template-columns: 25% 1fr;
  align-items: center;
  padding: 5px;
  width: 100%;
}
.audio_friend:hover {
  background-color: #f0f2f5;
}
.audio_friend_avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.audio_friend_audio_count,
.audio_friend_audios {
  max-width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.2em;
}
.audio_friend_audio_count:hover {
  text-decoration: underline;
  cursor: pointer;
}
.audio_friend_audios {
  color: #939393;
  cursor: pointer;
}