.wide_column_wrap {
  position: relative;
  top: 0;
  width: 550px;
}
.wide_column {
  width: 100%;
  margin-top: 60px;
}

.page_block {
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 15px 0 0;
}


/**Front of push post*/
.post_field_user_link {
  display: block;
  float: left;
  height: 28px;
  position: relative;
}
.post_field_user_image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 12px;
  left: 20px;
}