.wide_column_wrap {
  position: relative;
  top: 0;
  width: 550px;
}
.wide_column {
  width: 100%;
  position: sticky;
  top: 60px !important;
}

.page_block {
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 15px 0 0;
}

.post_upload_dropbox {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: #2a5885;
  text-align: center;
  z-index: 119;
}
.post_upload_dropbox_inner {
  position: absolute;
  top: 10;
  right: 10;
  bottom: 10;
  left: 10;
  border: 1px dashed #a9bbcf;
}
.post_upload_label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1em;
  margin: auto 10px;
  opacity: 0.7;
  font-size: 13px;
}
.release_label {
  display: none;
}

/**Front of push post*/
.post_field_user_link {
  display: block;
  float: left;
  height: 28px;
  position: relative;
}
.post_field_user_image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 12px;
  left: 20px;
}
.post_field_wrap {
  position: relative;
  margin-left: 48px;
}
div.submit_post_field[contenteditable="true"] {
    font-size: 23px;
}
.zoom_text_active
  .shown
  div.submit_post_field[contenteditable="true"]
  ~ .placeholder
  .ph_input,
.zoom_text_active .shown div.submit_post_field ~ .placeholder .ph_input,
.zoom_text_active
  .test_posting_experiment_c
  div.submit_post_field[contenteditable="true"]
  ~ .placeholder
  .ph_input,
.zoom_text_active
  .test_posting_experiment_c
  div.submit_post_field
  ~ .placeholder
  .ph_input,
.zoom_text_active div.submit_post_field.zoom_text,
.zoom_text_active div.submit_post_field.zoom_text[contenteditable="true"] {
  padding-top: 10px;
  /*
  */
}
.zoom_text_active
  .shown
  div.submit_post_field[contenteditable="true"]
  ~ .placeholder
  .ph_input,
.zoom_text_active .shown div.submit_post_field ~ .placeholder .ph_input,
.zoom_text_active
  .test_posting_experiment_c
  div.submit_post_field[contenteditable="true"]:empty:not(.submit_post_inited):not(.reply_field):before,
.zoom_text_active
  .test_posting_experiment_c
  div.submit_post_field[contenteditable="true"]
  ~ .placeholder
  .ph_input,
.zoom_text_active
  .test_posting_experiment_c
  div.submit_post_field
  ~ .placeholder
  .ph_input,
.zoom_text_active.wall_module.wl_post .wl_post_body_wrap .zoom_text,
.zoom_text_active .wall_text #wpe_text.zoom_text,
.zoom_text_active .wall_text .zoom_text,
.zoom_text_active div.submit_post_field.zoom_text,
.zoom_text_active div.submit_post_field.zoom_text[contenteditable="true"] {
  font-weight: 300;
  font-size: 23px;
  line-height: 1.4;
}
.submit_post_box.shown div.submit_post_field,
.submit_post_box.shown div.submit_post_field ~ .placeholder .ph_input,
.submit_post_box.test_posting_experiment_c div.submit_post_field,
.submit_post_box.test_posting_experiment_c
  div.submit_post_field
  ~ .placeholder
  .ph_input {
  min-width: 80px;
  max-height: 80px;
}
.submit_post_box.own_field div.submit_post_field,
.submit_post_box.shown div.submit_post_field,
.submit_post_box.test_posting_experiment_c div.submit_post_field {
  padding-right: 36px;
}
div.submit_post_field,
div.submit_post_field[contenteditable="true"],
div.submit_post_field[contenteditable="true"] ~ .placeholder .ph_input,
div.submit_post_field ~ .placeholder .ph_input {
  vertical-align: top;
  overflow: hidden;
  width: 100%;
  min-height: 80px;
  max-height: 80px;
  padding: 16px 20px 16px 12px;
  border: 0;
  border-radius: 2px;
  line-height: 1.462;
  word-wrap: break-word;
  resize: none;
}
.fakeinput.dark,
.fakeinput.dark ~ .placeholder .ph_input,
div[contenteditable="true"],
div[contenteditable="true"] ~ .placeholder .ph_input,
input.dark,
input.dark ~ .placeholder .ph_input,
textarea.dark,
textarea.dark ~ .placeholder .ph_input {
  padding: 5px 9px 7px;
  border-radius: 2px;
  box-sizing: border-box;
}
.fakeinput,
.fakeinput ~ .placeholder .ph_input,
div[contenteditable="true"],
div[contenteditable="true"] ~ .placeholder .ph_input,
input.big_text,
input.big_text ~ .placeholder .ph_input,
input.dark,
input.dark ~ .placeholder .ph_input,
input.search,
input.search ~ .placeholder .ph_input,
input.text,
input.text ~ .placeholder .ph_input,
textarea,
textarea ~ .placeholder .ph_input {
  color: #000;
  padding: 3px 5px;
  margin: 0;
  border: 1px solid #d3d9de;
}
.fakeinput,
div[contenteditable="true"],
input.big_text,
input.dark,
input.search,
input.text,
textarea {
  background: #fff;
  -webkit-appearance: none;
  border-radius: 0;
}
.fakeinput,
div[contenteditable="true"],
input.big_text,
input.file,
input.search,
input.text,
input[type="button"],
input[type="password"],
input[type="search"],
input[type="submit"],
input[type="text"],
input[type~="email"],
input[type~="password"],
input[type~="search"],
input[type~="text"],
textarea {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    sans-serif;
  outline: none;
  box-shadow: none;
}
.placeholder {
  position: relative;
  z-index: 3;
  cursor: text;
  pointer-events: none;
}
.dp_block {
  display: block;
}
.dp_none {
  display: none;
}
.placeholder .plh_input {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.4;
  min-height: 80px;
  max-height: none;
  vertical-align: top;
  overflow: hidden;
  width: 100%;
  min-height: 52px;
  max-height: 52px;
  padding: 16px 20px 16px 12px;
  border: 0;
  border-radius: 2px;
  line-height: 1.462;
  word-wrap: break-word;
  resize: none;
}
.emoji_smile_wrap {
  top: 5px;
  right: 10px;
}
.emoji_smile {
  position: relative;
  cursor: pointer;
  top: 0;
  right: 0;
  opacity: 0.7;
  z-index: 4;
  transform: translateZ(0);
  transition: opacity 200ms ease-in-out;
}
.emoji_smile i {
  color: #000;
}

/*************POst Action BUTTONS ***********************/

.post_action_btn {
  position: relative;
  display: inline-block;
  margin: 12px 16px 11px 0;
  vertical-align: top;
  color: #828282;
  user-select: none;
}
.post_action_btn_layout {
  margin-top: 2px;
  margin-bottom: 2px;
}
.post_action_btn_layout,
.post_action_btn_text {
  position: relative;
  display: inline-block;
}
.post_action_tt_content {
  display: none;
}
.post_action_tt_item {
  padding: 8px 0 9px 12px;
  color: #000;
}
.radiobtn {
  cursor: pointer;
  line-height: 1.27em;
}
