.new_posts {
    border-radius: 2px 2px;
    color: #42648b;
    border-bottom: 1px solid #e7e8ec;
    text-align: center;
    padding: 17px 15px 16px;
    line-height: 14px;
    cursor: pointer;
    font-size: 13px;
}
.new_posts > b {
    background-color: #618ab8;
    color: #fff;
    padding: 2px 7px;
    margin: -3px 2px;
    border-radius: 10.5px;
    text-align: left;
    line-height: 15px;
    height: 15px;
}