.post_upload_dropbox {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: #2a5885;
  text-align: center;
  z-index: 119;
}
.post_upload_dropbox_inner {
  position: absolute;
  top: 10;
  right: 10;
  bottom: 10;
  left: 10;
  border: 1px dashed #a9bbcf;
}
.post_upload_label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1em;
  margin: auto 10px;
  opacity: 0.7;
  font-size: 13px;
}
.release_label {
  display: none;
}
